/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);

  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-very-light-gray: hsl(0, 0%, 95%);

  font-size: 93.75%;
}

body {
  background-color: var(--color-very-light-gray);
}
